:root {
    /* Colors */
    --primary-color: #005580;
    --secondary-color: #882905;
    --light-color: #fff;
    --dark-color: #000;
    --bg-color: #f8f7f2;
    --hover-color: #F6B453;
    --footer-bg-color: #000;
    --footer-text-color: #ffffff;
    --input-border-color: #ddd;

    /* Font Sizes */
    --font-size-base: 16px;
    --font-size-small: 12px;
    --font-size-large: 20px;
    --font-size-xlarge: 35px;

    /* Font Families */
    --font-family-primary: 'Inter', sans-serif;

    /* Spacing */
    --padding-base: 1rem;
    --padding-small: 0.5rem;
    --padding-large: 2rem;

    /* Border Radius */
    --border-radius-small: 0.25rem;
    --border-radius-large: 16px;

    /* Font Weights */
    --font-weight-bold: bold;
    --font-weight-normal: normal;
}


body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    line-height: 1.6;
    color: var(--dark-color);
    background-color: var(--light-color);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body, h1, h2, h3, h4, h5, h6, p, a, button, input, select, textarea {
    font-family: var(--font-family-primary);
}

.navbar, .btn, .breadcrumb, .card, .modal, .dropdown-menu, .alert, .table, .form-control {
    font-family: var(--font-family-primary);
}

/* General Header Styling */
.header {
    background-color: var(--dark-color);
}

.bg-light-custom {
    background-color: var(--light-color);
}

.btn-outline-light {
    background: var(--light-color);
    color: var(--dark-color);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}
.bi{
    margin-right: 10px; 
}
.bi-pencil-square::before {
    content: "\f4ca";
    font-size: var(--font-size-large);
    margin-right: 10px;
}

/* Tagline Styling */
.tagline {
    font-weight: var(--font-weight-bold);
    color: var(--dark-color);
    font-size: var(--font-size-xlarge);
    padding: 25px 0px;
}

/* Breadcrumb Styling */
.breadcrumb {
    margin-bottom: 0;
    font-size: var(--font-size-small);
}

.breadcrumb-item a {
    color: var(--dark-color);
    text-decoration: none;
}

/* Quote Button Styling */
#btn-quote {
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-weight: var(--font-weight-bold);
    border: none;
}

#btn-quote:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}

/* Wood Fence Button Styling */
.btn-wood-fence {
    background-color: var(--hover-color);
    color: var(--dark-color);
    font-weight: var(--font-weight-bold);
    border: none;
}

.btn-wood-fence:hover {
    background-color: #f9cd82;
    color: var(--dark-color);
}

.quote-btn {
    background: var(--secondary-color);
    border: none;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.quote-btn:hover {
    background: var(--hover-color);
    opacity: 80%;
    color: red;
    font-weight: var(--font-weight-bold);
}

/* Custom styles for navigation buttons */
.nav-btn {
    background-color: var(--hover-color);
    color: var(--dark-color);
    font-weight: var(--font-weight-bold);
    border-radius: 5px;
    margin: 0 5px;
    padding: 15px 35px;
    text-align: center;
    display: inline-block;
}

.nav-btn:hover {
    background-color: #e68a00;
    color: var(--light-color);
    text-decoration: none;
}

/* Dropdown button styling */
.dropdown-toggle::after {
    margin-left: 5px;
}

.dropdown-menu {
    min-width: 150px;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f4a261;
    color: var(--dark-color);
}

/* Additional styling for button text alignment */
.nav-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-large);
}

.nav-btn i {
    margin-right: 5px;
    color: var(--dark-color);
    font-size: var(--font-size-large);
}

.text-light {
    text-decoration: none;
}

.text-light i {
    font-size: var(--font-size-large);
    margin-left: 5px;
}

.bi-person-circle::before, .bi-cart::before {
    margin-right: 10px !important;
}

.bi-geo-alt::before, .bi-telephone::before {
    background: var(--footer-bg-color);
    color: var(--light-color);
    padding: 6px;
    border-radius: var(--border-radius-large);
    font-size: var(--font-size-large);
}

/* Footer Styling */
.footer {
    background-color: var(--footer-bg-color) !important;
    color: var(--footer-text-color);
}

.footer h5 {
    font-weight: var(--font-weight-bold);
}

.footer-logo {
    width: 180px;
}

.footer ul {
    padding-left: 0;
}

.footer ul li a, .footer a {
    text-decoration: none;
    color: var(--footer-text-color);
}

.footer ul li a:hover, .footer a:hover {
    color: var(--hover-color);
}

.office-hours p {
    margin: 0;
}

.footer p {
    margin: 0;
}

.btn-direction a {
    text-decoration: none;
    margin-left: 2px;
}

/* Scrolling Info Styling */
.scrolling-info {
    background-color: var(--secondary-color);
    color: var(--light-color);
    padding: 10px 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    font-weight: var(--font-weight-bold);
}

.scrolling-info p {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
    margin: 0;
}

/* Keyframes for left-to-right scrolling text */
@keyframes scroll-left {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(100%);
    }
}

/* Contact Page Styling */
.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: var(--dark-color) !important;
    color: var(--light-color);
    padding: var(--padding-base);
}

.card-body {
    padding: var(--padding-large);
}

.form-label {
    font-weight: var(--font-weight-bold);
}
.form-control{
    background-color: #F7F7F7;
    padding: 0.8rem .75rem;
}
.form-control::placeholder {
    color: #999;
}

.btn-danger {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-danger:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: var(--secondary-color);
}

input[type="file"] {
    border: 1px solid var(--input-border-color);
    padding: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}
.card-body .bi-envelope::before{
    background: var(--footer-bg-color);
    color: var(--light-color);
    padding: 6px;
    border-radius: var(--border-radius-large);
    font-size: var(--font-size-large);
}
.shadow-image {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shadow-image:hover {
    transform: scale(1.05); /* Slightly scales up the image on hover */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); /* Adds a stronger shadow on hover */
}